@import "variables";
@import "app/app";
@import "app/__filters/app__filters";
@import "app/__main/app__main";
@import "filters/filters";
@import "filter/filter";
@import "filter/__item/filter__item";
@import "filter/__header/filter__header";
@import "filter/_volumed/filter_volumed";
@import "main/main";
@import "main/__header/main__header";
@import "main/__count-data/main__count-data";
@import "checkbox/checkbox";
@import "card/card";
@import "card/__image-column/card__image-column";
@import "card/__info-column/card__info-column";
@import "card/__header/card__header";
@import "card/__description/card__description";
@import "card/__footer/card__footer";
@import "card/__body/card__body";
@import "card/__reference-column/card__reference-column";
@import "image/image";

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: $default-font-family;
}
a{
  text-decoration: none;

}
#root {
  //width: 100%;
  //height: 100%;
  //height: 100vh;
}
body{
  //height: -webkit-fill-available;
  //height: 100vh;
  // height: fit-content-wrapper;
}
